#canvas {
    position: absolute;
    top: 0px;
    left: 600px;
    width: 640px;
    height: 896px;
    background: url(../images/clouds.png);
    background-size: cover;
    overflow: hidden;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

#gun {
    position: absolute;
    scale: 25%;
    width: 93px;
    height: 277px;
    left: -512px;
    transform: rotate(45deg);
    transform-origin: bottom center; /* Scale from the bottom center */
    background: url(../images/gun.png);
}

#dragon {
    position: absolute;
    scale: 25%;
    width: 128px;
    height: 128px;
    left: -512px;
    transform-origin: top left; /* Scale from the top left corner */
    background: url(../images/gun.png);
}

.ball {
    position: absolute;
    scale: 100%;
    width: 72px;
    height: 73px;
    left: -512px;
    transform-origin: top left; /* Scale from the top left corner */
    background: url(../images/ball.png);
}


#balls_queue {
    position: absolute;
    scale: 25%;
    width: 128px;
    height: 128px;
    left: -512px;
    transform-origin: top left; /* Scale from the top left corner */
    background: url(../images/gun.png);
}