#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 1300px;
    height: 800px;
    background: url(../images/clouds.png);
    background-size: cover;
    overflow: hidden;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

#jupiter {
    position: absolute;
    width: 72px;
    height: 73px;
    left: -512px;
    background: url(../images/Jupiter@72p.png);
}