#canvas {
    position: absolute;
    top: 100px;
    left: 600px;
    width: 450px;
    height: 450px;
    background: url(../images/board.jpg);
    background-size: cover;
    overflow: hidden;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

#black_stone {
    position: absolute;
    scale: 25%;
    width: 128px;
    height: 128px;
    left: -512px;
    transform-origin: top left; /* Scale from the top left corner */
    background: url(../images/black_stone.png);
}

#white_stone {
    position: absolute;
    scale: 25%;
    width: 128px;
    height: 128px;
    left: -512px;
    transform-origin: top left; /* Scale from the top left corner */
    background: url(../images/white_stone.png);
}

#black_hole {
    position: absolute;
    scale: 25%;
    width: 128px;
    height: 128px;
    left: -512px;
    transform-origin: top left; /* Scale from the top left corner */
    background: url(../images/black_hole.png);
}

#white_hole {
    position: absolute;
    scale: 25%;
    width: 128px;
    height: 128px;
    left: -512px;
    transform-origin: top left; /* Scale from the top left corner */
    background: url(../images/white_hole.png);
}